main {
  padding: 0;
}

body {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

* {
  box-sizing: inherit;
}

ul, ol {
  // doesn't do RTL, it break a sidebar
  padding-left: 15px;
  margin-bottom: 0;
  list-style-image: url('../../shared/img/circle.svg');
}

a {
  color: $color-blue;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: $color-blue-hover;
  }
}

img {
  width: 40px;
  height: 40px;
}

////// HAND MADE CSS

.sticky-top-custom {
  top: 90px;
}

.custom-h4, .custom-td {
  position: relative !important;
}

.invoice-button-custom, .invoice-address-custom-button {
  position: absolute !important;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.invoice-custom-address {
  color: #999999;
  max-width: 200px;
  position: relative !important;
}

.margin-left-custom {
  margin-right: auto !important;
}

.custom-modal-button {
  position: absolute !important;
  top: -2px;
  pointer-events: none;
  left: 0;
  width: 100%;
}